body {
    background: url(../img/dungeon_bg.jpg) no-repeat center center fixed;
}




.tiles {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 300px;
    margin: auto;
}

img {
    padding: 25px;
}