
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: url(../img/dungeon_bg.jpg) no-repeat center center fixed;
    font-family: 'VT323', monospace;

}

.content-body {
    position: relative;
    min-height: 100vh;
}

header {
    background-color: black;
    color: white;
    height: 125px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header a {
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding: 10px;
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 3rem;
    text-shadow: 5px 5px purple;
    justify-content: center;
}

.this-page {
    text-decoration: underline;
}

#score-box h2 {
    font-size: 2rem;
    letter-spacing: 3px;
    color: white;
    text-align: center;
    padding-top: 30px;
}

#game-container {
    padding-top: 50px;   
}

.tiles {
    --num-cols: 4;
    --row-height: 70px;
    place-items: center;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr) ;
    grid-auto-rows: var(--row-height);

}


img {
    width: 50px;
    height: 50px;
}

footer {
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    text-align: center;
    justify-content: space-around;  

}

footer  a {
    padding: 30px;
    text-decoration: none;
}


/* Styling for Quiz page */

#quiz-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#question-box {
    background-color: white;
    border: 4px solid black;
    font-size: 1.5rem;
    width: 80%;
    text-align: center;
    padding: 10px;
    margin-top: 7%;

}

.option-box {
    background-color: white;
    border: 3px solid black;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 50px;
    width: 50%;
    margin-top: 5%;

}

.option-text {
    font-size: 1.5rem;
    padding-top: 10px;
}

#question-status {
    color: white;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 7%;
    width: 80%;
}

.option-box:hover {
    cursor: pointer;
    transform: scale(1.25);
}

.right {

    background: green;
}

.wrong {

    background: red;
}

/*  Contact Us Page */

#form-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    margin-top: 15%;
}

#form-container input {
    margin-top: 25px;
    height: 2rem;
    font-family: 'VT323', monospace;
    font-size: 1.25rem;
}

#return {
    background-color: purple;
    color: white;
    width: 100%;
    font-size: 1.25rem;

}

#submit {
    background-color: black;
    color: white;
    font-size: 1.25rem;
}


#form-container textarea {
    margin-top: 25px;
    font-family: 'VT323', monospace;
    font-size: 1.25rem;
    
}

/* 404 page styling */

#message-box {
    background-color: white;
    margin-left: 12.5%;
    margin-top: 10%;
    width: 75%;
}

#message-box p {
    color: black;
    font-size: 3rem;
}












@media screen and (min-width: 450px) {

    h1 {
        font-size: 5rem;
        text-shadow: 2px 2px purple;
        justify-content: center;
    }
    
    img {
        width: 75px;
        height: 75px;
    }

    .tiles {
        --num-cols: 4;
        --row-height: 90px;
        place-items: center;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(var(--num-cols), 1fr) ;
        grid-auto-rows: var(--row-height);
    }

    #question-box {
        background-color: white;
        font-size: 2rem;
        width: 80%;
        text-align: center;
        margin-top: 6%;
    
    }

    .option-box {
        background-color: white;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        height: 70px;
        width: 50%;
        margin-top: 5%;
    
    }

    .option-text {
        font-size: 1.75rem;
        padding-top: 10px;
    }

    .right {

        background: green;
    }
    
    .wrong {
    
        background: red;
    }
}

@media screen and (min-width: 900px) {
    
    img {
        width: 100px;
        height: 100px;
    }

    .tiles {
        --num-cols: 4;
        --row-height: 125px;
        place-items: center;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(var(--num-cols), 1fr) ;
        grid-auto-rows: var(--row-height);
    }

    #question-box {
        background-color: white;
        font-size: 2.4rem;
        width: 80%;
        text-align: center;
        margin-top: 5%;
    
    }

    .option-box {
        background-color: white;
        border: 3px solid black;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        height: 50px;
        width: 50%;
        margin-top: 2%;
    
    }

    .option-text {
        font-size: 2rem;
        padding-top: 10px;
    }

    #question-status {
        color: white;
        font-size: 2.1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 3%;
        width: 80%;
    }

    .right {

    background: green;
}

.wrong {

    background: red;
}

    #form-container {
        margin-top: 5%;
    }

    #form-container input {
        margin-top: 45px;
        height: 2.5rem;
    }

    #form-container textarea {
        margin-top: 45px;
        padding-bottom: 30px;
    }

    #return {
        width: 50%;
        margin-left: 25%;
    }

    #submit {
        width: 50%;
        margin-left: 25%;
    }

}

@media screen and (min-width: 1200px) {
    .tiles{
    padding-left: 150px;
    padding-right: 150px;
    }    
}

/* @media (max-width: 1200px) and (min-height: 700px) {

    img {
        height: 70px;
        width: 70px;
    }
    
} */

@media screen and (min-height: 300px) {

    #score-box h2 {
        font-size: 1.2rem;
    }
    
    #game-container {

        padding-top: 10px ;
    }

    .tiles {
        --num-cols: 4;
        --row-height: 50px;
        place-items: center;
        box-sizing: border-box;
    
        display: grid;
        grid-template-columns: repeat(var(--num-cols), 1fr) ;
        grid-auto-rows: var(--row-height);
    }

    img {
        height: 45px;
        width: 45px;
    }
}