* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: url(../img/dungeon_bg.jpg) no-repeat center center fixed;
    font-family: 'VT323', monospace;

}

header {
    background-color: black;
    color: white;
    height: 125px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a {
    padding: 10px;
}

h1 {
    font-size: 3rem;
    text-shadow: 2px 2px purple;
    justify-content: center;
}

#game-container {
    padding-top: 50px;   
}

/* .tiles {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 50%;
    /* margin: auto; */


.tiles {
    /* --gap: 5px; */
    --num-cols: 4;
    --row-height: 70px;
    place-items: center;
    box-sizing: border-box;
    /* padding: var(--gap); */

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr) ;
    grid-auto-rows: var(--row-height);

}


img {
    width: 50px;
    height: 50px;
}


@media screen and (min-width: 450px) {

    h1 {
        font-size: 5rem;
        text-shadow: 2px 2px purple;
        justify-content: center;
    }
    
    img {
        width: 75px;
        height: 75px;
    }

    .tiles {
        --num-cols: 4;
        --row-height: 90px;
        place-items: center;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(var(--num-cols), 1fr) ;
        grid-auto-rows: var(--row-height);
    }
}

@media screen and (min-width: 900px) {
    
    img {
        width: 100px;
        height: 100px;
    }

    .tiles {
        --num-cols: 4;
        --row-height: 125px;
        place-items: center;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(var(--num-cols), 1fr) ;
        grid-auto-rows: var(--row-height);
    }
}

@media screen and (min-width: 1200px) {
    .tiles{
    padding-left: 150px;
    padding-right: 150px;
    }    
}